.section2{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60vw;
}
.gridimg{
    display: grid;
    grid-template-columns: repeat(21, 50px);
    grid-gap: 2px;
}