body{
    font-family: 'Hind', sans-serif;
    text-align: center;
    display: grid;
    margin: 0;
    grid-template-areas: 'barra barra barra barra'
                         'nav    nav    nav    nav'
                         'header header header header'
                         'sec    sec    sec    sec'
                         'secao  secao  secao  secao'
                         'footer footer footer footer';
    grid-auto-rows: 1.5vh 90vh 30vh 50vh 50vh 20vh;
    grid-auto-columns: 25% 25% 25% 25%;           
}

.inutil{
    grid-area: barra;
    background-color: #2dcc70;
}
nav{
    grid-area: nav;  
    background-image: url(img/banner.png);
 
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;

}

.imag1{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    text-align: justify;
    margin-bottom: 200px;
}

.imag2{

    display: flex;

}
.icones{
    display: flex;
    align-items: center;
}
.prim{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
}
.prim:hover{
background-color: #2dcc70;
opacity: 0.9;
transition: 2s
}
.segu{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
}
.segu:hover{
    background-color: #2dcc70;
    opacity: 0.9;
    transition: 2s;
}
.ter{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
}
.ter:hover{
    background-color: #2dcc70;
    opacity: 0.9;
    transition: 2s;
}
.subti{
    color: white;
    font-size: 20px;
    font-family: Arial;
}


    
    
header{
    grid-area: header;
    background-color: brown;
    display: flex
}

.sec{
    grid-area: sec;
    background-color: yellow;
    display: flex;
    
}

.secao{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: secao;
    text-align: center;
}
.secao p{
    color: #a7a7a7;
    margin-top: 8vh;
    margin-bottom: 0;
    width: 65vw;
}
.secao h4{
    color: #181818;
    font-size: 10pt;
    margin: 20px;
}
.secao h3{
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: normal;
}
.secao h6{
    color: #a7a7a7;
    font-size: 10pt;
    font-weight: normal;
    margin: 20px;
}

.gridimg{
    display: grid;
    grid-template-columns: repeat(21, 50px);
    grid-gap: 2px;
}
.divimgsection2{
    display: flex;
    background-color: #2dcc70;
}
.divimgsection2 img{
    height: 50px;
    width: 50px;
}
.divimgsection2 img:hover{
    opacity: 0.5;
}

.iconescontatos{
    align-items: center;

    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 18vw;
}

.iconescontatos img{
    background-color: #d4d4d4;
    border-radius: 50%;
    height: 25px;
    padding: 3px;
    width: 25px;
}
.iconescontatos img:hover{
    background-color: #2dcc70;
}

footer{
    grid-area: footer;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.rodape{
    display: flex;
 
}

.lista{ /* coloca a lista no centro e ao meio do footer*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.lista li{ /*colcando espeçamento entre os itens*/
    margin-left: 50px;
}
a:link{ /* tirando sublinhado dos liks*/
    font-family: arial;
    font-size: 15px;
    text-decoration:none;
} 

ul li a{
    color:black;
    opacity: 0.5;
}

header{
    grid-area: header;
    background-color:white; 
    align-items: center;
    display: flex;
    justify-content: center;
    }

.sec{
    grid-area: sec;
    background-color:#e3e3e3; 
    font-size: 12px;
    color: gray;
}

.tudo{
    align-items: center;
    display: flex;
    justify-content:space-around; 
    height: 300px;
    margin-left: 140px;
    margin-right: 20px;
}

.texto{
    text-align: justify;
    
}
.texto2{
    margin-top: 10px;
}
button{
    background-color: #2dcc70;
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    border-radius: 10%;
    color: white;
    margin-top: -20px;
}

.button{
    align-items: flex-end;
}
h3{
    color: black;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-display: bold;
}

.video{
    align-items: flex-end;
    display: inline-block;
    border-radius: 3%;
    margin-left: 30px;
}
.subtexto{
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: grey;


}
.esquerda{
    align-items: flex-start;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px 100px;
    width: 500px; 
}
.central{
    align-items: center
    display: inline-block;
    flex-direction: column;
    justify-content: flex;
    padding: 90px 100px;
    width: 500px;
}
.direita{
    align-items: flex-end;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
    padding:100px;
    width: 500px;
}
 img{
     height: 50px;
     width: 50px;
 }